@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
@font-face {
  font-family: Roboto-Black;
  src: url("../fonts/Roboto-Light.ttf"); }
/*----------------------------*/
* {
  margin: 0;
  padding: 0;
  transition: all .2s;
  font-family: helvetica; }

h1 {
  font-size: 36px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  line-height: 25px; }

body {
  background: no-repeat fixed;
  background-size: cover;
  background-position: right; }

section.who_we_are, section.about_reasons,
section.news, section.site_footer {
  background-color: #fff; }

/*----------------------------*/
section.header_page {
  position: relative;
  height: 110vh;
  width: 100%;
  background: url("../images/background2.jpg");
  background-size: cover;
  background-position: right; }

@media (max-width: 768px) {
  ul.nav-items-larg-screen {
    display: none; }

  ul#js-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 110vh;
    width: 40vw;
    background-color: #444; }
    ul#js-nav-bar li {
      height: 30px;
      width: 99%;
      padding: 10px 10px;
      border-right: 2px solid #fff; }
      ul#js-nav-bar li a {
        display: block;
        height: auto;
        width: 100%;
        font-family: helvetica;
        font-size: 24px;
        color: #fff; }

  img#btn-nav-drop {
    position: absolute;
    top: 0;
    right: 2px;
    height: 40px;
    width: 40px;
    margin: 10px 0; }

  div.naw_bar img {
    height: 100px;
    width: 100px;
    margin: 1px 15px; } }
@media (min-width: 768px) {
  ul#js-nav-bar, img#btn-nav-drop {
    display: none; }

  div.naw_bar {
    height: auto;
    width: 700px;
    margin: auto; }
    div.naw_bar a {
      float: left;
      color: #fff;
      font-size: 24px; }
    div.naw_bar img {
      height: 200px;
      width: 200px;
      margin: 1px 5px; }
    div.naw_bar ul {
      float: left; }
      div.naw_bar ul li {
        display: inline-block;
        padding: 10px 10px; } }
@media (min-width: 1000px) {
  div.naw_bar {
    height: auto;
    width: 1000px; }
    div.naw_bar ul {
      padding: 10px 5px 0 150px;
      text-align: right; }
      div.naw_bar ul li {
        display: inline-block;
        padding: 10px 20px; } }
/*----------------------------*/
div#bottom_triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

div#left_trapeze {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 100px solid #fff;
  border-left: 0px solid transparent;
  border-right: 70px solid transparent;
  height: 0;
  width: 47%; }

div#right_trapeze {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 100px solid #fff;
  border-left: 70px solid transparent;
  border-right: 0px solid transparent;
  height: 0;
  width: 47%; }

/*----------------------------*/
div.container_about {
  margin: auto;
  padding: 50px 0;
  text-align: center; }
  div.container_about h1 {
    padding-top: 50px;
    line-height: 40px; }
  div.container_about p {
    font-size: 18px;
    padding: 20px 0; }
  div.container_about img {
    height: auto;
    width: 50%;
    margin: auto; }
  div.container_about a {
    font-family: helvetica;
    font-size: 24px;
    color: #111; }

@media (max-width: 480px) {
  div.container_about {
    height: auto;
    width: 90%; }
    div.container_about img {
      height: auto;
      width: 50%; } }
@media (min-width: 480px) and (max-width: 768px) {
  div.container_about {
    height: auto;
    width: 70%; }
    div.container_about img {
      height: auto;
      width: 250px; } }
@media (min-width: 768px) and (max-width: 979px) {
  div.container_about {
    height: auto;
    width: 700px; }
    div.container_about li {
      display: inline-block; }
    div.container_about img {
      height: auto;
      width: 200px; } }
@media (min-width: 1000px) {
  div.container_about {
    height: auto;
    width: 1000px; }
    div.container_about li {
      display: inline-block; }
    div.container_about img {
      height: auto;
      width: 200px; } }
/*----------------------------*/
section.article_problem {
  background-color: #C7D0CC; }

div.article_about_problem {
  text-align: center;
  margin: auto;
  padding: 80px 0 40px 0; }
  div.article_about_problem h1 {
    line-height: 40px; }
  div.article_about_problem p {
    font-size: 18px;
    padding: 20px 0; }
  div.article_about_problem a {
    display: block;
    height: 20px;
    width: 250px;
    margin: auto;
    background-color: #4CCCAE;
    color: #fff;
    padding: 10px 0;
    border-radius: 40px; }
  div.article_about_problem a:hover {
    background-color: #444; }

@media (max-width: 480px) {
  div.article_about_problem {
    height: auto;
    width: 90%; } }
@media (min-width: 480px) and (max-width: 768px) {
  div.article_about_problem {
    height: auto;
    width: 70%; } }
@media (min-width: 768px) and (max-width: 979px) {
  div.article_about_problem {
    height: auto;
    width: 700px; } }
@media (min-width: 1000px) {
  div.article_about_problem {
    height: auto;
    width: 1000px; } }
/*----------------------------*/
section.reviews_bg {
  background-color: rgba(172, 32, 44, 0.7); }

div.reviews {
  margin: auto;
  padding: 40px 0;
  text-align: center;
  color: #fff; }

div.reviews h3 {
  padding: 15px 0 30px;
  text-align: center;
  font-style: italic;
  font-size: 18px; }

div.reviws-item {
  height: auto;
  width: 100%;
  margin: auto;
  opacity: inherit;
  padding: 2% 0;
  margin-top: 30px;
  border: 1px solid #fff; }
  div.reviws-item p {
    padding: 15px 10px 10px;
    font-size: 18px; }
  div.reviws-item img.revives-img-two {
    width: 10px;
    margin: 1px 0 -5px 14px; }
  div.reviws-item img.revives-img-one {
    float: left;
    margin: 0 10px;
    width: 25px; }
  div.reviws-item h3 {
    width: 90%;
    padding: 25px 0; }

div.reviws-item:hover {
  background-color: rgba(255, 255, 255, 0.2); }

@media (max-width: 480px) {
  div.reviews {
    height: auto;
    width: 70%; } }
@media (min-width: 480px) and (max-width: 768px) {
  div.reviews {
    height: auto;
    width: 70%; } }
@media (min-width: 768px) and (max-width: 979px) {
  div.reviews {
    height: auto;
    width: 700px; } }
@media (min-width: 1000px) {
  div.reviews {
    height: auto;
    width: 1000px; } }
/*----------------------------*/
div.five_reasons {
  height: auto;
  width: 90%;
  margin: auto;
  padding: 40px 0;
  text-align: center; }
  div.five_reasons h1 {
    font-size: 36px; }
  div.five_reasons h3 {
    padding: 15px 0;
    font-style: italic;
    font-size: 18px; }
  div.five_reasons h2 {
    font-size: 24px;
    padding: 40px 0 10px 0; }

@media (max-width: 480px) {
  div.five_reasons {
    height: auto;
    width: 90%; } }
@media (min-width: 480px) and (max-width: 768px) {
  div.five_reasons {
    height: auto;
    width: 70%; } }
@media (min-width: 768px) and (max-width: 979px) {
  div.five_reasons {
    height: auto;
    width: 700px; } }
@media (min-width: 1000px) {
  div.five_reasons {
    height: auto;
    width: 1000px; } }
/*----------------------------*/
section.carousel {
  height: auto;
  width: 100%;
  background-color: #DD7674;
  color: #fff;
  text-align: center;
  padding: 40px 0; }
  section.carousel h1 {
    font-size: 36px;
    padding: 40px 0; }
  section.carousel h3 {
    padding: 30px 0;
    text-align: center;
    font-style: italic;
    font-size: 18px; }

div.container_carousel {
  height: auto;
  width: 100%;
  width: 100%;
  text-align: center; }
  div.container_carousel img.img_photo {
    height: 270px;
    width: 240px;
    margin: auto; }
  div.container_carousel img.image_frame {
    position: relative;
    top: -289px;
    height: 271px;
    width: 240px;
    margin: auto; }
  div.container_carousel div.name-date {
    position: relative;
    top: -200px; }
  div.container_carousel h5 {
    font-size: 25px; }
  div.container_carousel h4 {
    padding-top: 15px;
    color: #FBEDED;
    font-size: 21px;
    width: 90%;
    margin: auto;
    margin-top: 15px; }
  div.container_carousel p {
    height: auto;
    width: 80%;
    position: relative;
    top: -200px;
    margin: auto;
    margin-top: 0;
    font-size: 18px; }
  div.container_carousel p:before {
    position: relative;
    left: -6px;
    top: 10px;
    content: "\201C";
    font-size: 40px; }
  div.container_carousel p:after {
    position: relative;
    right: -6px;
    top: 10px;
    content: "\201D";
    font-size: 40px; }

@media (max-width: 480px) {
  div.container_carousel p {
    height: auto;
    width: 80%; } }
@media (min-width: 480px) and (max-width: 768px) {
  div.container_carousel p {
    height: auto;
    width: 70%; } }
@media (min-width: 768px) and (max-width: 979px) {
  div.container_carousel p {
    height: auto;
    width: 700px; } }
@media (min-width: 1000px) {
  div.container_carousel p {
    height: auto;
    width: 1000px; } }
/*----------------------------*/
section.invite_bg {
  background: rgba(0, 0, 0, 0.7); }

div.invite {
  height: auto;
  width: 90%;
  margin: auto;
  padding: 40px 0;
  text-align: center;
  color: #fff; }
  div.invite h1 {
    font-size: 24px; }
  div.invite a {
    display: block;
    height: auto;
    width: 230px;
    margin: 40px auto 0;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 40px;
    font-size: 18px;
    color: #fff; }
  div.invite a:hover {
    background-color: rgba(255, 255, 255, 0.3); }

/*----------------------------*/
section.news {
  padding: 40px 0;
  text-align: center; }

div.our_news img {
  height: auto;
  width: 80%;
  margin: 20px auto; }
div.our_news h1 {
  font-size: 24px; }
div.our_news h3 {
  font-size: 24px;
  padding: 15px 0; }
div.our_news a p {
  height: auto;
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  color: #111; }
div.our_news a#other_news {
  display: block;
  height: auto;
  width: 230px;
  margin: 40px auto 0;
  background-color: #4CCCAE;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 40px;
  font-size: 18px;
  color: #fff; }
div.our_news a#other_news:hover {
  background-color: #444; }

/*----------------------------*/
section.contacts {
  height: auto;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: #4CCCAE; }

div.contacts_container h1 {
  font-size: 24px;
  color: #fff;
  margin: 15px 0; }
div.contacts_container input {
  height: 30px;
  width: 80%;
  margin: 10px 0; }
div.contacts_container textarea {
  height: 200px;
  width: 80%;
  resize: none;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #666; }
div.contacts_container a {
  display: block;
  height: auto;
  width: 230px;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  font-size: 18px;
  color: #fff; }
div.contacts_container a:hover {
  background-color: #444; }

/*----------------------------*/
section.site_footer {
  height: auto;
  width: 100%;
  padding: 40px 0 0 0;
  text-align: center;
  margin: 0 auto; }

div.footer_elem {
  position: relative; }
  div.footer_elem li {
    padding: 4px 0; }
  div.footer_elem a {
    color: black; }
  div.footer_elem a:hover {
    text-decoration: underline; }

div#button_up {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #dee2e3; }

div#button_up:hover {
  background-color: #999; }

div#button_up img {
  display: block;
  padding: 10px 10px;
  height: 40px;
  width: 70px;
  margin: auto; }

@media (min-width: 768px) {
  div.contacts_container {
    height: auto;
    width: 700px;
    margin: auto; }

  div.footer_elem li {
    display: inline-block;
    padding: 7px 0; }
  div.footer_elem li:last-child a {
    border: none; }
  div.footer_elem a {
    color: black;
    padding: 0 10px 0 5px;
    border-right: 1px solid black; }
  div.footer_elem a:hover {
    text-decoration: underline; } }
@media (min-width: 1000px) {
  div.wrapper-news-contacts {
    background: linear-gradient(to left, #fff 40%, #4CCCAE 60%); }

  div.block-news-contacts {
    overflow: hidden;
    height: auto;
    width: 1000px;
    margin: auto; }

  section.news {
    float: right;
    height: auto;
    width: 60%; }

  section.contacts {
    float: righ;
    height: auto;
    width: 40%; }
    section.contacts h1 {
      margin-bottom: 110px; }
    section.contacts a {
      margin-top: 75px; }

  div.contacts_container {
    height: auto;
    width: 350px; }

  div#button_up {
    position: absolute;
    bottom: 0;
    right: 40px;
    height: auto;
    width: auto;
    cursor: pointer;
    background-color: #dee2e3; }

  div#button_up:hover {
    background-color: #999; }

  div#button_up img {
    display: block;
    padding: 10px 10px;
    height: 40px;
    width: 70px; } }

/*# sourceMappingURL=style.css.map */
