*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all .2s;
}
body{
	font: 300 16px/24px 'Roboto', sans-serif;
	color: #000;
}
.conteiner-white{
	height: 100%;
	width: 100%;
	background-color: #fff !important;
}
.container-pink{
	height: 100%;
	width: 100%;
	background-color: #d82132;
}

@media (max-width: 480px) {
/*================ default==============================================*/
	body{
		background:url("../picture/smartfon/carousel_1_768_1269.jpg") no-repeat fixed center bottom;
		-webkit-background-size: auto;
		background-size: auto;
	}

	.container{
		height: 100%;
		width: 100%;
		padding-bottom: 5%;
	}
/*====== Карусель ==========================*/
	#owl-demo{
		width:100%;
		height:500px;
		background:#444;
	}
	.owl-theme{
		margin:0;
		padding:0;
	}
	.carousel_picture_1{
		background:url("../picture/smartfon/carousel_1_768_1269.jpg") no-repeat;
		background-size: cover;
		width: 100%;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_2{
		background:url("../picture/smartfon/carousel_2_768_1289.jpg")no-repeat;
		background-size: cover;
		width: 100%;
		height: auto;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_3{
		background:url("../picture/smartfon/carousel_3_768_1289.jpg")no-repeat;
		background-size: cover;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}
	.item{
		height:500px;
		width:100%;
		margin:0 auto;
		padding:0 auto;
	}
/*============== Цель ==================*/
	.target{
		position:absolute;
		text-align: center;
		width: 320px;
		height: 320px;
		top: 10%;
		left: 50%;
		margin-left: -160px;
		border-radius: 100%;
		border:1px solid;
		border-color: rgba(255, 255, 255, 0.5);
		color: #fff;
	}
	.inner-target{
		position:absolute;
		width: 300px;
		height: 300px;
		top:50%;
		left: 50%;
		margin-top: -150px;
		margin-left: -150px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 100%;
	}
	.inner-target h1{
		display: inline-block;
		line-height: 100%;
		font-size: 50px;
		padding: 50px 30px 0px 30px;
	}
	.inner-target h2{
		font-size: 30px;
		padding-top:20px;
		font-weight:normal;
	}
	.inner-target a{
		display: inline-block;
		margin-top: 30px;
		border-radius:20px;
		text-decoration:none;
		font-size: 15px;
		color:#fff;
		padding-top: 7px;
		height:35px;
		width:150px;
		background-color:#d82132;
		font-weight:bold;
		text-transform:uppercase;
	}
	.inner-target a:hover{
		background-color: #444;
	}
/*======== НАВИГАЦИОННАЯ ПАНЕЛЬ===============*/
	div.navbar{
		background-color:#d82132;
		height: 250px;
		width: 100%;
	}
	ul.naw-bar-items{
		width: 100%;
		text-align: center;
	}
	ul.naw-bar-items a{
		text-decoration: none;
		color: #fff;
	}
	ul.nav-bar-tm{
		background-color: #bd1d2c;
		padding: 10px 0 5px 0;
		font-size:20px;
	}
	ul.nav-bar-item-links a{
		display: block;
		padding: 1px 0 0 0;
		border: 1px solid #fff;
		margin: 10px;
	}
	ul.nav-bar-item-links a:hover{
		border: 1px solid #bd1d2c;
		background-color: #bd1d2c;
	}
/*================== О НАс===========*/
		.box-head{
			width: 100%;
			height: auto;
			line-height:200%;
			padding: 3%;
			padding-top: 10%;
			text-align: center;
		}
		.box-body{
			width: 95%;
			margin: auto;
			height: auto;
		}
		.item-us img{

			width: 80%;
			height: auto;
			margin: 10%;
		}
		.item-text h3{
			text-align: center;
			margin-bottom: 0;

		}
		.item-text{
			width: 100%;
			height: auto;
			padding-bottom: 10%;
			text-align: justify;
		}
/*====================== How it work===============*/
	.color-pink{
		color:#fff !important;
	}
	.how-it-work-item{

		text-align: center;
		width: 50%;
		height: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
		margin:auto;
	}
	#icon_1{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img04.png") no-repeat scroll 0px 0px;
	}
	#icon_1:hover{
		background-position: 0px -78px;
	}
	#icon_2{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img05.png") no-repeat scroll 0px 0px;
	}
	#icon_2:hover{
		background-position: 0px -78px;
	}
	#icon_3{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img06.png") no-repeat scroll 0px 0px;
	}
	#icon_3:hover{
		background-position: 0px -78px;
	}
	#icon_4{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img07.png") no-repeat scroll 0px 0px;
	}
	#icon_4:hover{
		background-position: 0px -78px;
	}
	.how-it-work-item a {
		text-decoration: none;
		color: #fff;
	}
	.how-it-work-item a:hover{
		text-decoration: underline;
	}
/*==================  СЧАСТЛИВЫЕ ИСТОРИИИ   ===============================*/
	.item-success img {
		margin-top: 5%;
		height: auto;
		width: 100%;

	}
	.s-date{
		position: relative;
		height: 35px;
		width: 100%;
		background-color: #666 !important;
	}
	.item-success h3{
		display: block;
		text-align: left;
		border-radius:10px;
		width: auto;
		height: 50px;
		margin: auto;
		margin-bottom: 10px;
		padding:13px 0 0 13px;
		color:#fff;
		background-color: #d82132;
	}
	.item-success h4{
		text-align: right;
		border-top: 1px solid #444;
		padding: 10px 10px 0 0;
		font-weight: normal;
		font-style: italic;
	}
	.item-success p{
		height: 100%;
		width: 95%;
		margin: auto;
		padding-top: 10%;
		padding-bottom: 10%;
		text-align: justify;
	}
/*====================REVIEWS ОТЗЫВЫ НАШИХ НЕВЕСТ=================*/
	.reviws-item{
		padding: 5% 5% 0 5%;
		text-align: justify;
		margin-top: 5%;
		text-indent: 8px;
		background-color: #bd1d2c;
		color: #fff;
		border-radius: 10%;
	}
	.reviws-item p{
		display: block;
	}
	div.reviws-item img.revives-img-two{
		width: 10px;
		margin: 1px 0 -5px 4px;
	}
	div.reviws-item img.revives-img-one {
		width: 20px;
		float: left;
	}
	.reviws-item h3{
		width: 100%;
		text-align: right;
		padding: 5%;
	}
/*==================КОНТАКТЫ==========================*/
	.contact{
		background:rgba(0, 0, 0, 0.7);
	}
	.contact-item-block{
		height:100%;
		width:80%;
		margin:auto;
		padding-top: 10%;
		padding-bottom: 10%;
		text-align:center;
	}
	.contacts-items{
		display: block;
		height: 200px;
		width: 200px;
		margin: auto;
		border: 1px solid #fff;
		text-decoration: none;
		color: #fff;
	}
	.contacts-items h4{
		color: #fff;
		margin-top: 3%;
		margin-bottom: 24%;
	}
	.contacts-items img{
		margin-bottom: 26%;
	}
	.contacts-items:hover{
		background-color: rgba(255, 255, 255, 0.4);
	}
	.footer{
		height: 100%;
		width: 100%;
		padding-top: 15px;
		background-color: #d82132;
		text-align: center;
		color: #fff;
	}
	.footer a{
		text-decoration: none;
		color: #fff;
	} 
	.footer a:hover{
		color: #444;
	}
	.footer h5{
		padding-top: 8px;
	}
}



/*=======================================================================
 2=================================================================
===================================================================*/



@media (min-width: 481px) and (max-width: 768px){
/*====================НАстройки по умолчанию ============================*/
	
	body{
		background:url("../picture/smartfon/carousel_1_1024_68.jpg") no-repeat fixed center top;
		background-size: cover;
	}
	.container{
		height: 100%;
		width: 90%;
		margin: auto;
		position: relative;
		padding-bottom: 5%;
	}
	.box-head{
		width: 100%;
		height: auto;
		line-height:200%;
		padding: 3%;
		padding-top: 10%;
		text-align: center;
	}
	.box-body{
		width: 95%;
		margin: auto;
		height: auto;
	}
	#top{
		display: none;
	}

/*=================== КАРУСЕЛЬ=============================*/
	#owl-demo{
		width:100%;
		height:500px;
		background:#444;
	}
	.owl-theme{
		margin:0;
		padding:0;
	}
	.carousel_picture_1{
		background:url("../picture/smartfon/carousel_1_1024_68.jpg") no-repeat;
		width: 100%;
		display: block;
		background-size: cover;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_2{
		background:url("../picture/smartfon/carousel_2_1024_768.jpg")no-repeat;
		background-size: cover;
		width: 100%;
		height: auto;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_3{
		background:url("../picture/smartfon/carousel_3_1024_768.jpg")no-repeat;
		background-size: cover;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}
	.item{
		height:500px;
		width:100%;
		margin:0 auto;
		padding:0 auto;
	}
/*==================== Цэль ==================*/
	.target{
		position:absolute;
		text-align: center;
		width: 450px;
		height: 450px;
		top: 5%;
		left: 50%;
		margin-left: -213px;
		border-radius: 100%;
		border:1px solid;
		border-color: rgba(255, 255, 255, 0.5);
		color: #fff;
	}
	.inner-target{
		position:absolute;
		width: 390px;
		height: 390px;
		top:50%;
		left: 50%;
		margin-top: -193px;
		margin-left: -195px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 100%;
	}
	.inner-target h1{
		display: inline-block;
		line-height: 100%;
		font-size: 85px;
		padding: 70px 30px 0px 30px;
	}
	.inner-target h2{
		font-size: 35px;
		padding-top:20px;
		font-weight:normal;
	}
	.inner-target a{
		display: inline-block;
		margin-top: 30px;
		border-radius:20px;
		text-decoration:none;
		color:#fff;
		padding-top: 13px;
		height:50px;
		width:200px;
		background-color:#d82132;
		font-weight:bold;
		text-transform:uppercase;
	}
	.inner-target a:hover{
		background-color: #444;
	}
/*======== НАВИГАЦИОННАЯ ПАНЕЛЬ===============*/
	div.navbar{
		background-color:#d82132;
		height: 153px;
		width: 100%;
	}
	ul.naw-bar-items{
		list-style: none;
	}
	ul.naw-bar-items a{
		color:#fff;
		text-decoration: none;
	}
	ul.naw-bar-items a:hover{
		color: #444;
	}
	ul.nav-bar-tm{
		list-style: none;
		width: 100%;
		text-align: center;
		padding: 10px 0 10px;
		background-color: #bd1d2c;
	}
	ul.nav-bar-tm li a{
		font-size: 20px;
	}
	ul.nav-bar-item-links{
		width: 100%;
	}
	ul.nav-bar-item-links li{
		float: left;
		width: 25%;
		list-style: none;
		padding: 10px 0 0 0;
		text-align: center;
	}
/*=============================== О Нас=============*/
	.item-us{
		overflow:hidden;
	}
	div.item-text{
		float: left;
		width: 60%;
	}
	.item-us img{
			float: left;
			width: 30%;
			height: auto;
			padding: 5% 5% 5% 0;
	}
	.item-text h3{
		text-align: left;
		margin-bottom: 3%;
		margin-bottom: 0;
	}
	.item-text{
		height: auto;
		padding-top: 5%;
		padding-bottom: 10%;
		text-align: justify;
	}
/*====================HOW IT WORK===================================================*/
	.color-pink{
		color:#fff !important;
	}

	.how-it-work-item{

		text-align: center;
		width: 50%;
		height: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
		margin:auto;

	}
	#icon_1{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img04.png") no-repeat scroll 0px 0px;
	}
	#icon_1:hover{
		background-position: 0px -78px;
	}
	#icon_2{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img05.png") no-repeat scroll 0px 0px;
	}
	#icon_2:hover{
		background-position: 0px -78px;
	}
	#icon_3{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img06.png") no-repeat scroll 0px 0px;
	}
	#icon_3:hover{
		background-position: 0px -78px;
	}
	#icon_4{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img07.png") no-repeat scroll 0px 0px;
	}
	#icon_4:hover{
		background-position: 0px -78px;
	}
	.how-it-work-item a {
		text-decoration: none;
		color: #fff;
	}
	.how-it-work-item a:hover{
		text-decoration: underline;
	}
/*==================  СЧАСТЛИВЫЕ ИСТОРИИИ   ===============================*/
	.item-success img {
		display: block;
		margin-top: 5%;
		padding-bottom: 5%;
		height: auto;
		width: 70%;
		margin: auto;

	}
	.item-success h3{
		display: block;
		text-align: left;
		border-radius:10px;
		width: 70%;
		height: 50px;
		margin: auto;
		margin-bottom: 10px;
		padding:13px 0 0 10px;
		color:#fff;
		background-color: #d82132;
	}
	.item-success h4{
		text-align: right;
		border-top: 1px solid #444;
		width: 70%;
		margin: auto;
		margin-top: 10px;
		padding: 10px 10px 0 0;
		font-weight: normal;
		font-style: italic;
	}
	.item-success p{
		height: 100%;
		width: 70%;
		margin: auto;
		padding-top: 5%;
		padding-bottom: 10%;
		text-align: justify;
	}
/*====================REVIEWS ОТЗЫВЫ НАШИХ НЕВЕСТ=================*/
	.reviws-item{
		padding: 2% 5% 2% 5%;
		text-align: justify;
		margin-top: 5%;
		text-indent: 6px;
		background-color: #bd1d2c;
		color: #fff;
		border-radius: 46px;
	}
	.reviws-item p{
		display: block;
	}
	div.reviws-item img.revives-img-two{
		width: 10px;
		margin: 1px 0 -5px 5px;
	}
	div.reviws-item img.revives-img-one {
		width: 20px;
		float: left;
	}
	.reviws-item h3{
		width: 100%;
		margin-top: 2%;
		text-align: right;
	}
/*==================КОНТАКТЫ==========================*/
	.contact{
		background:rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
	}
	.contact-item-block{
		height:100%;
		width:80%;
		margin:auto;
		padding-top: 10%;
		margin-bottom: 10%;
		text-align:center;
	}
	.contacts-items{
		display: block;
		height: 200px;
		width: 200px;
		margin: auto;
		border: 1px solid #fff;
		text-decoration: none;
		color: #fff;
	}
	.contacts-items h4{
		color: #fff;
		margin-top: 3%;
		margin-bottom: 24%;
	}
	.contacts-items img{
		margin-bottom: 26%;
	}
	.contacts-items:hover{
		background-color: rgba(255, 255, 255, 0.4);
	}
	.footer{
		position: relative;
		height: auto;
		width: 100%;
		padding-top: 15px;
		background-color: #d82132;
		text-align: center;
		color: #fff;
	}
	.footer a{
		padding-top: 10px;
		text-decoration: none;
		color: #fff;
	}
	.footer a:hover{
		color: #444;
	}
	.footer h5{
		display: block;
		padding:10px 0 5px 0;
	}
}



/*=======================================================================
	3=================================================================
===================================================================*/



@media (min-width: 770px) and (max-width: 1024px){
/*======== Стандартные======================================*/
	body{
		background:url("../picture/smartfon/carousel_1_1024_68.jpg") no-repeat fixed center bottom;
		background-size: cover;
	}
	.container{
		height: 100%;
		width: 80%;
		margin: auto;
		position: relative;
	}
	.box-head{
		width: 100%;
		height: auto;
		line-height:200%;
		padding: 3%;
		padding-top: 10%;
		text-align: center;
	}
	.box-body{
		width: 95%;
		margin: auto;
		height: auto;
	}
	#top{
		display: none;
	}

/*=================== КАРУСЕЛЬ=============================*/
	#owl-demo{
		width:100%;
		height:560px;
		background:#444;
	}
	.owl-theme{
		margin:0;
		padding:0;
	}
	.carousel_picture_1{
		background:url("../picture/carousel_1.jpg") no-repeat;
		width: 100%;
		display: block;
		background-size: cover;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_2{
		background:url("../picture/carousel_2.jpg")no-repeat;
		background-size: cover;
		width: 100%;
		height: auto;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_3{
		background:url("../picture/carousel_3.jpg")no-repeat;
		background-size: cover;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}
	.item{
		height:560px;
		width:100%;
		margin:0 auto;
		padding:0 auto;
	}
/*==================== Цэль ==================*/
	.target{
		position:absolute;
		text-align: center;
		width: 450px;
		height: 450px;
		top: 5%;
		left: 50%;
		margin-left: -213px;
		border-radius: 100%;
		border:1px solid;
		border-color: rgba(255, 255, 255, 0.5);
		color: #fff;
	}
	.inner-target{
		position:absolute;
		width: 390px;
		height: 390px;
		top:50%;
		left: 50%;
		margin-top: -197px;
		margin-left: -198px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 100%;
	}
	.inner-target h1{
		display: inline-block;
		line-height: 100%;
		font-size: 85px;
		padding: 70px 30px 0px 30px;
	}
	.inner-target h2{
		font-size: 35px;
		padding-top:20px;
		font-weight:normal;
	}
	.inner-target a{
		display: inline-block;
		margin-top: 30px;
		border-radius:20px;
		text-decoration:none;
		color:#fff;
		padding-top: 13px;
		height:50px;
		width:200px;
		background-color:#d82132;
		font-weight:bold;
		text-transform:uppercase;
	}
	.inner-target a:hover{
		background-color: #444;
	}

/*======== НАВИГАЦИОННАЯ ПАНЕЛЬ===============*/
	.fixed {
		 margin-top:0px;
		 position: fixed !important;
		 top: 0px; 
		 z-index: 9999; 
		 height:78px;
		 width:100%;
		 background-color:#bd1d2c !important;
		 font: 300 16px/24px "Roboto", sans-serif;
	}
	div.navbar{
		background-color:#d82132;
		height: 78px;
		width: 100%;
	}
	ul.naw-bar-items{
		list-style: none;

	}
	ul.naw-bar-items a{
		color: #fff;
		text-decoration: none;
	}
	ul.naw-bar-items a:hover{
		color: #444;
		text-decoration: none;
	}
	ul.naw-bar-items ul{
		float: left;
		list-style: none;
	}
	ul.nav-bar-tm{
		width: 46%; height: 78px;
		border-radius: 0 40px 40px 0;
		background-color: #bd1d2c;
	}
	ul.nav-bar-tm li{
		float: left;
		width: 50%;
	}
	ul.nav-bar-tm li img{
		padding: 18px 0 0 20%;
	}
	ul.nav-bar-tm li a{
		display: inline-block;
		width: 285px;
		font-size:20px;
		margin: 0 0 0 -100px;
		padding-top: 26px;
	}
	ul.nav-bar-item-links{
		float: left;
		width: 54%;
	}
	ul.nav-bar-item-links li{
		float: left;
		width: -4%;
		padding: 28px 0 0 8%;
	}
/*=============================== О Нас=============*/
		div.item-us{
			overflow: hidden;
		}
		.item-us img{
			float: left;
			width: 30%;
			height: auto;
			padding: 5% 4% 3% 0;
		}
		div.item-text{
			float: left;
			width: 60%;
		}
		.item-text h3{
			text-align: left;
			margin-bottom: 1%;
			line-height:27px;
			font-size:25px;
			font-weight:normal;
			line-height: 120%;
		}
		.item-text{
			width: 100%;
			height: auto;
			padding-top: 5%;
			padding-bottom: 10%;
			text-align: justify;
		}
/*=================================How it work==================================*/
	.color-pink{
		color:#fff !important;
	}

	.how-it-work-item{

		text-align: center;
		width: 50%;
		height: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
		margin:auto;

	}
	#icon_1{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img04.png") no-repeat scroll 0px 0px;
	}
	#icon_1:hover{
		background-position: 0px -78px;
	}
	#icon_2{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img05.png") no-repeat scroll 0px 0px;
	}
	#icon_2:hover{
		background-position: 0px -78px;
	}
	#icon_3{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img06.png") no-repeat scroll 0px 0px;
	}
	#icon_3:hover{
		background-position: 0px -78px;
	}
	#icon_4{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img07.png") no-repeat scroll 0px 0px;
	}
	#icon_4:hover{
		background-position: 0px -78px;
	}
	.how-it-work-item a {
		text-decoration: none;
		color: #fff;
	}
	.how-it-work-item a:hover{
		text-decoration: underline;
	}
/*==================  СЧАСТЛИВЫЕ ИСТОРИИИ   ===============================*/
	.item-success img {
		display: block;
		margin-top: 5%;
		padding-bottom: 5%;
		height: auto;
		width: 70%;
		margin: auto;

	}
	.item-success h3{
		display: block;
		text-align: left;
		border-radius:10px;
		width: 70%;
		height: 50px;
		margin: auto;
		margin-bottom: 10px;
		padding:13px 0 0 13px;
		color:#fff;
		background-color: #d82132;
	}
	.item-success h4{
		text-align: right;
		border-top: 1px solid #444;
		width: 70%;
		margin: auto;
		margin-top: 10px;
		padding: 10px 10px 0 0;
		font-weight: normal;
		font-style: italic;
	}
	.item-success p{
		height: 100%;
		width: 70%;
		margin: auto;
		padding-top: 5%;
		padding-bottom: 10%;
		text-align: justify;
	}
/*====================REVIEWS ОТЗЫВЫ НАШИХ НЕВЕСТ=================*/
	.reviws-item{
		padding: 2% 5% 2% 5%;
		text-align: justify;
		margin-top: 5%;
		text-indent: 6px;
		background-color: #bd1d2c;
		color: #fff;
		border-radius: 46px;
		margin-bottom: 10%
	}
	.reviws-item p{
		display: block;
	}
	div.reviws-item img.revives-img-two{
		width: 10px;
		margin: 1px 0 -5px 5px;
	}
	div.reviws-item img.revives-img-one {
		width: 20px;
		float: left;
	}
	.reviws-item h3{
		width: 100%;
		margin-top: 2%;
		text-align: right;
	}
/*==================КОНТАКТЫ==========================*/
	.contact{
		background:rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
	}
	.contact-item-block{
		height:100%;
		width:80%;
		margin:auto;
		padding-top: 10%;
		margin-bottom: 10%;
		text-align:center;
	}
	.contacts-items{
		display: block;
		height: 200px;
		width: 200px;
		margin: auto;
		border: 1px solid #fff;
		text-decoration: none;
		color: #fff;
	}
	.contacts-items h4{
		color: #fff;
		margin-top: 3%;
		margin-bottom: 24%;
	}
	.contacts-items img{
		margin-bottom: 26%;
	}
	.contacts-items:hover{
		background-color: rgba(255, 255, 255, 0.4);
	}
	.footer{
		position: relative;
		height: auto;
		width: 100%;
		padding-top: 15px;
		background-color: #d82132;
		text-align: center;
		color: #fff;
	}
	.footer a{
		text-decoration: none;
		color: #fff;
	}
	.footer a:hover{
		color: #444;
	}
	.footer h5{
		display: block;
	}
}
/*======================================================
	4 	================================================================
============================================================*/
@media (min-width: 1025px) and (max-width: 1366px){
/*======== Стандартные======================================*/
	body{
		background:url("../picture/carousel_1.jpg") no-repeat fixed center bottom;
		background-size: cover;
	}
	.container{
		float: none;
		height: 100%;
		width: 70%;
		margin: auto;
	}
	.box-head{
		clear: both;
		width: 100%;
		height: auto;
		line-height:200%;
		padding: 3%;
		padding-top: 5%;

		text-align: center;
	}
	.box-body{
		clear: both;
		width: 100%;
		margin: auto;
		height: auto;
		margin-bottom: 5%;
	}

/*=================== КАРУСЕЛЬ=============================*/
	#owl-demo{
		width:100%;
		height:560px;
		background:#444;
	}
	.owl-theme{
		margin:0;
		padding:0;
	}
	.carousel_picture_1{
		background:url("../picture/carousel_1.jpg") no-repeat;
		width: 100%;
		display: block;
		background-size: cover;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_2{
		background:url("../picture/carousel_2.jpg")no-repeat;
		background-size: cover;
		width: 100%;
		height: auto;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_3{
		background:url("../picture/carousel_3.jpg")no-repeat;
		background-size: cover;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}
	.item{
		height:560px;
		width:100%;
		margin:0 auto;
		padding:0 auto;
	}
/*==================== Цэль ==================*/
	.target{
		position:absolute;
		text-align: center;
		width: 450px;
		height: 450px;
		top: 5%;
		left: 50%;
		margin-left: -213px;
		border-radius: 100%;
		border:1px solid;
		border-color: rgba(255, 255, 255, 0.5);
		color: #fff;
	}
	.inner-target{
		position:absolute;
		width: 390px;
		height: 390px;
		top:50%;
		left: 50%;
		margin-top: -197px;
		margin-left: -198px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 100%;
	}
	.inner-target h1{
		display: inline-block;
		line-height: 100%;
		font-size: 85px;
		padding: 70px 30px 0px 30px;
	}
	.inner-target h2{
		font-size: 35px;
		padding-top:20px;
		font-weight:normal;
	}
	.inner-target a{
		display: inline-block;
		margin-top: 30px;
		border-radius:20px;
		text-decoration:none;
		color:#fff;
		padding-top: 13px;
		height:50px;
		width:200px;
		background-color:#d82132;
		font-weight:bold;
		text-transform:uppercase;
	}
	.inner-target a:hover{
		background-color: #444;
	}
/*======== НАВИГАЦИОННАЯ ПАНЕЛЬ===============*/
	.fixed {
		 margin-top:0px;
		 position: fixed !important;
		 top: 0px; 
		 z-index: 9999; 
		 height:78px;
		 width:100%;
		 background-color:#bd1d2c !important;
		 font: 300 16px/24px "Roboto", sans-serif;
	}
	div.navbar{
		background-color:#d82132;
		height: 78px;
		width: 100%;
	}
	ul.naw-bar-items{
		padding: 0 5% 0 0;
		list-style: none;
	}
	ul.naw-bar-items a{
		color: #fff;
		text-decoration: none;
	}
	ul.naw-bar-items a:hover{
		color: #444;
		text-decoration: none;
	}
	ul.naw-bar-items ul{
		float: left;
		list-style: none;
	}
	ul.nav-bar-tm{
		width: 49%;  height: 78px;
		background-color:#bd1d2c;
		border-radius: 0 40px 40px 0;
		padding-left: 15%;
	}
	ul.nav-bar-tm li{
		float: left;
		width: 50%;	
	}
	ul.nav-bar-tm li img{
		padding: 18px 0 0 7%;
	}
	ul.nav-bar-tm li a{
		display: block;
		width: 275px;
		font-size:20px;
		margin: 0 0 0 -116px;
		padding-top: 26px;
	}
	ul.nav-bar-item-links{
		float: left;
		width: 44%;
	}
	ul.nav-bar-item-links li{
		float: left;
		width: -4%;
		padding: 28px 0 0 8%;
	}
	
/*=============================== О Нас=============*/
	.item-us{
		clear: both;
	}
	.item-us img{
		display: block;
		float: left;
		width: 200px;
		height: auto;
		padding: 5% 4% 3% 0;
	}
	.item-text h3{
		text-align: left;
		line-height:30px;
		margin-bottom: 1%;
		font-size:30px;
		font-weight:normal;
	}
	.item-text{
		width: 100%;
		height: auto;
		padding-top: 5%;
		padding-bottom: 10%;
		text-align: justify;
	}
/*=================================How it work==================================*/
	.color-pink{
		color:#fff !important;
	}
	.hw-all{
		margin-bottom: 30%;
	}
	.how-it-work-item{
		text-align: center;
		float: left;
		width: 25%;
		height: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	#icon_1{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img04.png") no-repeat scroll 0px 0px;
	}
	#icon_1:hover{
		background-position: 0px -78px;
	}
	#icon_2{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img05.png") no-repeat scroll 0px 0px;
	}
	#icon_2:hover{
		background-position: 0px -78px;
	}
	#icon_3{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img06.png") no-repeat scroll 0px 0px;
	}
	#icon_3:hover{
		background-position: 0px -78px;
	}
	#icon_4{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img07.png") no-repeat scroll 0px 0px;
	}
	#icon_4:hover{
		background-position: 0px -78px;
	}
	.how-it-work-item a {
		text-decoration: none;
		color: #fff;
	}
	.how-it-work-item a:hover{
		text-decoration: underline;
	}
/*==================  СЧАСТЛИВЫЕ ИСТОРИИИ   ===============================*/
	.bonus-su{
		overflow:hidden;
	}
	.item-success{
		float: left;
		width: 30%;
		margin-left: 3%;
	}
	.item-success h3{
		text-align: left;
		display: block;
		border-radius:10px;
		width: 100%;
		height: 50px;
		padding:13px 0 0 10px;
		color:#fff;
		background-color: #d82132;
	}
	.item-success h4{
		text-align: right;
		margin-top: 10px;
		border-top: 1px solid #444;
		padding: 10px 10px 0 0;
		font-weight: normal;
		font-style: italic;
	}
	.item-success img {
		display: block;
		margin-top: 5%;
		padding-bottom: 5%;
		height: auto;
		width: 100%;

	}
	.item-success p{
		height: 100%;
		width: 100%;
		padding-top: 5%;
		padding-bottom: 10%;
		text-align: justify;
	}
/*====================REVIEWS ОТЗЫВЫ НАШИХ НЕВЕСТ=================*/
	.reviws-item{
		padding: 2% 5% 2% 5%;
		text-align: justify;
		margin-top: 5%;
		text-indent: 8px;
		background-color: #bd1d2c;
		color: #fff;
		border-radius: 46px;
	}
	.reviws-item p{
		display: block;
	}
	div.reviws-item img.revives-img-two{
		width: 10px;
		margin: 1px 0 -5px 5px;
	}
	div.reviws-item img.revives-img-one {
		width: 20px;
		float: left;
	}
	.reviws-item h3{
		width: 100%;
		text-align: right;
		margin-top: 2%;
	}
/*==================КОНТАКТЫ==========================*/
	.contact{
		float: left;
		background:rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
	}
	.contact-item-block{
		float: left;
		height:100%;
		width:25%;
		padding: 10% 0 10% 0;
		text-align:center;
	}
	.contacts-items{
		display: inline-block;
		height: 200px;
		width: 200px;
		margin: auto;
		border: 1px solid #fff;
		text-decoration: none;
		color: #fff;
	}
	.contacts-items h4{
		color: #fff;
		margin-top: 3%;
		margin-bottom: 24%;
	}
	.contacts-items img{
		margin-bottom: 26%;
	}
	.contacts-items:hover{
		background-color: rgba(255, 255, 255, 0.4);
	}
	.footer{
		position: static;
		clear: both;
		height: auto;
		width: 100%;
		padding-top: 15px;
		background-color: #d82132;
		text-align: center;
		color: #fff;
	}
	.footer a {
		width: 30%;
		margin: auto;
		text-decoration: none;
		color: #fff;
	}
	.footer a:hover{
		color: #444;
	}

	.footer h5{
		text-align: center;
		margin: auto;
		width: 30%;
	}
}





/*========================================================================
 	5 	===========================================================================
==========================================================================*/



@media (min-width: 1367px){
/*======== Стандартные======================================*/
	body{
		background:url("../picture/carousel_1.jpg") no-repeat fixed center bottom;
		background-size: cover;
	}
	.container{
		float: none;
		height: 100%;
		width: 50%;
		margin: auto;
	}
	.box-head{
		clear: both;
		width: 100%;
		height: auto;
		line-height:200%;
		padding: 3%;
		padding-top: 5%;

		text-align: center;
	}
	.box-body{
		clear: both;
		width: 100%;
		margin: auto;
		height: auto;
		margin-bottom: 5%;
	}
		#top{
		position: fixed;
		bottom: 0;
		right: 0;
		margin-right: 5%;
		margin-bottom: 5%;
		height: 100px;
		width: 100px;

	}
	#top img{
		width: 100%;
		height: auto;
	}
/*=================== КАРУСЕЛЬ=============================*/
	#owl-demo{
		width:100%;
		height:600px;
		background:#444;
	}
	.owl-theme{
		margin:0;
		padding:0;
	}
	.carousel_picture_1{
		background:url("../picture/carousel_1.jpg") no-repeat;
		width: 100%;
		display: block;
		background-size: cover;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_2{
		background:url("../picture/carousel_2.jpg")no-repeat;
		background-size: cover;
		width: 100%;
		height: auto;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}

	.carousel_picture_3{
		background:url("../picture/carousel_3.jpg")no-repeat;
		background-size: cover;
		display: block;
		opacity:0.4; -moz-opacity:0.4;
		filter:alpha(opacity=40);
	}
	.item{
		height:600px;
		width:100%;
		margin:0 auto;
		padding:0 auto;
	}
/*==================== Цэль ==================*/
	.target{
		position:absolute;
		text-align: center;
		width: 450px;
		height: 450px;
		top: 30%;
		left: 50%;
		margin-top: -230px;
		margin-left: -213px;
		border-radius: 100%;
		border:1px solid;
		border-color: rgba(255, 255, 255, 0.5);
		color: #fff;
	}
	.inner-target{
		position:absolute;
		width: 390px;
		height: 390px;
		top:50%;
		left: 50%;
		margin-top: -197px;
		margin-left: -198px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 100%;
	}
	.inner-target h1{
		display: inline-block;
		line-height: 100%;
		font-size: 85px;
		padding: 70px 30px 0px 30px;
	}
	.inner-target h2{
		font-size: 35px;
		padding-top:20px;
		font-weight:normal;
	}
	.inner-target a{
		display: inline-block;
		margin-top: 30px;
		border-radius:20px;
		text-decoration:none;
		color:#fff;
		padding-top: 13px;
		height:50px;
		width:200px;
		background-color:#d82132;
		font-weight:bold;
		text-transform:uppercase;
	}
	.inner-target a:hover{
		background-color: #444;
	}
/*======== НАВИГАЦИОННАЯ ПАНЕЛЬ===============*/
	.fixed {
		 margin-top:0px;
		 position: fixed !important;
		 top: 0px; 
		 z-index: 9999; 
		 height:78px;
		 width:100%;
		 background-color:#bd1d2c !important;
		 font: 300 16px/24px "Roboto", sans-serif;
	}
	div.navbar{
		background-color:#d82132;
		height: 78px;
		width: 100%;
	}
	ul.naw-bar-items{
		padding: 0 5% 0 0;
		list-style: none;
	}
	ul.naw-bar-items a{
		color: #fff;
		text-decoration: none;
	}
	ul.naw-bar-items a:hover{
		color: #444;
		text-decoration: none;
	}
	ul.naw-bar-items ul{
		float: left;
		list-style: none;
	}
	ul.nav-bar-tm{
		width: 49%;  height: 78px;
		background-color:#bd1d2c;
		border-radius: 0 40px 40px 0;
		padding-left: 15%;
	}
	ul.nav-bar-tm li{
		float: left;
		width: 50%;	
	}
	ul.nav-bar-tm li img{
		padding: 18px 0 0 35%;
	}
	ul.nav-bar-tm li a{
		display: block;
		width: 275px;
		font-size:20px;
		margin: 0 0 0 -116px;
		padding-top: 26px;
	}
	ul.nav-bar-item-links{
		float: left;
		width: 44%;
	}
	ul.nav-bar-item-links li{
		float: left;
		width: -4%;
		padding: 28px 0 0 8%;
	}
/*=============================== О Нас=============*/
	.item-us{
		clear: both;
	}
	.item-us img{
		display: block;
		float: left;
		width: 200px;
		height: auto;
		padding: 5% 4% 3% 0;
	}
	.item-text h3{
		text-align: left;
		margin-bottom: 1%;
		font-size:30px;
		line-height: 41px; 
		font-weight:normal;
	}
	.item-text{
		width: 100%;
		height: auto;
		padding-top: 5%;
		padding-bottom: 10%;
		text-align: justify;
	}
/*=================================How it work==================================*/
	.color-pink{
		color:#fff !important;
	}
	.hw-all{
		margin-bottom: 30%;
	}
	.how-it-work-item{
		text-align: center;
		float: left;
		width: 25%;
		height: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	#icon_1{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img04.png") no-repeat scroll 0px 0px;
	}
	#icon_1:hover{
		background-position: 0px -78px;
	}
	#icon_2{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img05.png") no-repeat scroll 0px 0px;
	}
	#icon_2:hover{
		background-position: 0px -78px;
	}
	#icon_3{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img06.png") no-repeat scroll 0px 0px;
	}
	#icon_3:hover{
		background-position: 0px -78px;
	}
	#icon_4{
		display: inline-block;
		width: 78px;
		height: 78px;
		background: transparent url("../picture/index_img07.png") no-repeat scroll 0px 0px;
	}
	#icon_4:hover{
		background-position: 0px -78px;
	}
	.how-it-work-item a {
		text-decoration: none;
		color: #fff;
	}
	.how-it-work-item a:hover{
		text-decoration: underline;
	}
/*==================  СЧАСТЛИВЫЕ ИСТОРИИИ   ===============================*/
	.bonus-su{
		overflow:hidden;
	}
	.item-success{
		float: left;
		width: 30%;
		margin-left: 3%;
	}
	.item-success h3{
		text-align: left;
		display: block;
		border-radius:10px;
		width: 100%;
		height: 50px;
		padding:13px 0 0 10px;
		color:#fff;
		background-color: #d82132;
	}
	.item-success h4{
		text-align: right;
		border-top: 1px solid #444;
		margin-top: 10px;
		padding: 10px 10px 0 0;
		font-weight: normal;
		font-style: italic;
	}
	.item-success img {
		display: block;
		margin-top: 5%;
		padding-bottom: 5%;
		height: auto;
		width: 100%;

	}
	.item-success p{
		height: 100%;
		width: 100%;
		padding-top: 5%;
		padding-bottom: 10%;
		text-align: justify;
	}
/*====================REVIEWS ОТЗЫВЫ НАШИХ НЕВЕСТ=================*/
	.reviws-item{
		padding: 2% 5% 2% 5%;
		text-align: justify;
		margin-top: 5%;
		background-color: #bd1d2c;
		text-indent: 6px;
		color: #fff;
		border-radius: 46px;
	}
	.reviws-item p{
		display: block;
	}
	div.reviws-item img.revives-img-two{
		width: 10px;
		margin: 1px 0 -5px 7px;
	}
	div.reviws-item img.revives-img-one {
		width: 20px;
		float: left;
	}
	.reviws-item h3{
		width: 100%;
		margin-top: 2%;
		text-align: right;
	}
/*==================КОНТАКТЫ==========================*/
	.contact{
		float: left;
		background:rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
		padding: 0 15% 0 15%;
	}
	.contact-item-block{
		float: left;
		height:100%;
		width:25%;
		padding: 10% 0 10% 0;
		text-align:center;
	}
	.contacts-items{
		display: inline-block;
		height: 200px;
		width: 200px;
		margin: auto;
		border: 1px solid #fff;
		text-decoration: none;
		color: #fff;
	}
	.contacts-items h4{
		color: #fff;
		margin-top: 3%;
		margin-bottom: 24%;
	}
	.contacts-items img{
		margin-bottom: 26%;
	}
	.contacts-items:hover{
		background-color: rgba(255, 255, 255, 0.4);
	}
	.footer{
		position: static;
		clear: both;
		height: auto;
		width: 100%;
		padding-top: 15px;
		background-color: #d82132;
		text-align: center;
		color: #fff;
	}
	.footer a {
		text-decoration: none;
		width: 40%;
		margin: auto;
		color: #fff;
	}
	.footer a:hover{
		color:#444;
	}
	.footer h5{
		text-align: center;
		margin: auto;
		width: 40%;
		padding: 5px 0 10px 0;
	}
}