*{
	padding: 0;
	margin: 0;
}
body{
	font: 300 16px/24px 'Roboto', sans-serif;
	color: #000;
}
div.navbar{
	background-color:#d82132;
	height: 78px;
	width: 100%;
	}
ul.nav-bar-f-item{
	float: left;
	display: inline-block;
	border-radius: 0 40px 40px 0;
	list-style: none;
	height: 78px;
	width: 30%;
	padding-left: 15%;
	background-color:#bd1d2c;
}
li.first-nv{
	margin-left: 1%;
}
li.first-nv img{
	float: left;
	margin-top: 16px;
	width: 34px;
}
li.first-nv a{
	float: left;
	width: auto;
	text-align: center;
	padding: 25px 0 0 10px;
	font-size: 19px;
	text-decoration: none;
	color: #fff;
}
li.first-nv a:hover{
	color:#444;
}
ul.nav-bar-s-item{
	width: 50%;
	float: left;
	padding-top: 28px;
}
div.navbar ul li.nav-item{
	display: inline-block;
	margin-left: 8%;
}
div.navbar ul li.nav-item a{
	display: block;
	text-decoration: none;
	color:#fff;
}
div.navbar ul li.nav-item a:hover{
	color: #444;
}
h1{
	display: block;
	width: 70%;
	margin: auto;
	padding: 5% 0 5% 15%;
}
div.low-text{
	width: 70%;
	margin: auto;
	padding-bottom: 4%;
	text-align: justify;
}
div.low-text h3{
	padding: 1%;
}
div.low-text p{
	padding: 1% 0 1% 0;
}
.footer{
		position: static;
	clear: both;
	height: auto;
	width: 100%;
	background-color: #d82132;
	text-align: center;
	color: #fff;
}
.footer a {
	width: 30%;
	margin: auto;
	text-decoration: none;
	font-size: 13px;
	color: #fff;
}
.footer a:hover{
	color: #444;
}
.footer h5{
	text-align: center;
	margin: auto;
	font-size: 17px;
	width: 30%;
}