@media (min-width: 900px){
/*========================= стандарные ==============================*/
	*{
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		transition: all .2s;
	}
	body{
		font: 300 16px/24px 'Roboto', sans-serif;
		color: #000;
		overflow-x: hidden;

	}
	.conteiner-white{
		height: 100%;
		width: 100%;
		background-color: #fff !important;
	}
	.container-pink{
		height: 100%;
		width: 100%;
		background-color: #d82132;
	}
	.container{
		float: none;
		height: 100%;
		width: 900px;
		margin: auto;
	}
	.box-head{
		clear: both;
		width: 100%;
		height: auto;
		line-height:200%;
		padding: 3%;
		padding-top: 5%;
		text-align: center;
	}
	.box-body{
		clear: both;
		width: 100%;
		margin: auto;
		height: auto;
		margin-bottom: 5%;
	}
/*========================= нав-панель ==============================*/
	.fixed {
		 margin-top:0px;
		 position: fixed !important;
		 top: 0px; 
		 z-index: 9999; 
		 height:78px;
		 width:100%;
		 background: #bd1d2c !important;
		 font: 300 16px/24px "Roboto", sans-serif;
	}
	div.navbar{
		background: linear-gradient(to right, #bd1d2c 30%, #d82132 70%);
		height: 78px;
		width: 100%;
	}
	.naw-bar-items{
		width: 900px; height: 78px;
		margin: auto;
	}
	.naw-bar-items a{
		text-decoration: none;
		color: #fff;
	}
	.naw-bar-items a:hover{
		color: #444;
	}
	.naw-bar-items li{
		float: left;
		list-style: none;
	}
	.nav-bar-tm{
		width: 387px; height: 78px;
		background-color:#bd1d2c;
		border-radius: 0 40px 40px 0;
	}
	.nav-bar-tm li{
		font-size: 21px;
		padding: 20px 0 0 0px;
	}
	.nav-bar-tm li a{
		display: block;
		padding: 5px 0 0 10px;
	}
	.nav-bar-item-links{
		width: 500px;
	}
	.nav-bar-item-links li{
		width: 25%;
		text-align: right;
		padding: 27px 0 0 20px;
	}
/*========================= Контент =================================*/
/*========================= Классы для преключения ==================*/
	#inner_wrapper{
		margin: 0;
		transition: margin 500ms linear;
	}
	#on1{
		float: left;
	}
	#on2{
		float: left;
	}
	#on3{
		float: left;

	}
	#on4{
		float: left;
	}
	#on5{
		float: left;
	}

	.display_next_1{
		margin-left: 0 !important;
	}
	.display_next_2{
		margin-left:-100% !important;
	}
	.display_next_3{
		margin-left:-200% !important;
	}
	.display_next_4{
		margin-left:-300% !important;
	}
	.display_next_5{
		margin-left:-400% !important;
	}
/*===================================================================*/

	.inner_anket_element form{
		width: 900px;
		padding: 100px 0 30px 0;
		margin: auto;
	}
	.lable_dicoration{
		float: left;
		width: 50%;
		font-size: 25px;
		padding-left: 50px;
	}
	.input_decoration{
		float: left;
		width: 50%;
	}
	tr{
		width: 450px;

	}
	td{
		width: 70%;
		padding: 10px 0 10px 0;
	}
	input{
		height: 28px;
		font-size: 25px;
	}
	#button_grup{
		clear:both;
		width: 100px;
		margin:auto;
	}
	.button_toggle{
		float: left;
		margin: 10px;
	}

	#next_step{
		clear:both;
		display: block;
		margin: auto;
		margin-top: 30px;
		text-align: center;
		border: 1px solid #fff;
		border-radius:20px;
		color:#fff;
		height:30px; width:200px;
		background-color:#d82132;
		font-weight:bold;
		text-decoration: none;
		text-transform:uppercase;
	}
/*========================= футер ===================================*/
	div.footer{
		clear: both; 
		width: 100%; height: 70px;
		padding-top: 10px;
		background-color: #d82132;
		text-align: center;
		color: #fff;
	}
	div.footer-ref{
		width: 700px;
		margin: auto;
	}
	div.footer-ref a{
		float: left;
		text-decoration: none;
		width: 40%;
		text-align: left;
		padding-left: 10px;
		font-size: 15px;
		color: #fff;
	}
	div.footer-ref a:first-child{
		width: 60%;
		text-align: right;
		padding-right: 10px;
		border-right: 1px solid #fff;
	} 

	div.footer-ref a:hover{
		color: #444;
		text-decoration: underline;
	}
	div.footer h5{
		clear:both;
		padding-top: 10px;
		font-size: 17px;
	}
}