@media (min-width: 1025px) and (max-width: 1366px){
	*{
		padding: 0;
		margin: 0;
	}
	body{
		font: 300 16px/24px 'Roboto', sans-serif;
		color: #000;
	}
/*===============================================================
		NavBar
===============================================================*/
	.fixed {
		 margin-top:0px;
		 position: fixed !important;
		 top: 0px; 
		 z-index: 9999; 
		 height:78px;
		 width:100%;
		 background-color:#bd1d2c !important;
		 font: 300 16px/24px "Roboto", sans-serif;
	}
	div.navbar{
		background-color:#d82132;
		height: 78px;
		width: 100%;
	}
	ul.naw-bar-items{
		padding: 0 13% 0 13%;
		list-style: none;

	}
	ul.naw-bar-items a{
		color: #fff;
		text-decoration: none;
	}
	ul.naw-bar-items a:hover{
		color: #444;
		text-decoration: none;
	}
	ul.naw-bar-items ul{
		float: left;
		list-style: none;
	}
	ul.nav-bar-tm{
		width: 46%; height: 78px;
		margin-left: -18%;
		padding-left: 18%;
		border-radius: 0 40px 40px 0;
		background-color: #bd1d2c;
	}
	ul.nav-bar-tm li{
		float: left;
		width: 50%;
	}
	ul.nav-bar-tm li img{
		padding: 18px 0 0 20%;

	}
	ul.nav-bar-tm li a{
		display: block;
		width: 275px;
		font-size:20px;
		margin: 0 0 0 -96px;
		padding-top: 26px;
	}
	ul.nav-bar-item-links{
		float: left;
		width: 54%;
	}
	ul.nav-bar-item-links li{
		float: left;
		width: -4%;
		padding: 28px 0 0 8%;
	}
/*============================================================*/
	h1{
		text-align: center;
		padding:30px 0 30px 0;
	}
	div.low-text{
		width: 70%;
		margin: auto;
		padding: 30px 0 30px 0;
		text-align: justify;
	}
	div.low-text h3{
		display: block;
		width: 100%;
		border-bottom: 1px solid #451;
	}
	div.low-text p{
		padding: 1% 0 1% 0;
	}
	.footer{
		padding-top: 10px;
		width: 100%;
		background-color: #d82132;
		text-align: center;
		color: #fff;
	}
	.footer a {
		width: 30%;
		margin: auto;
		text-decoration: none;
		font-size: 13px;
		color: #fff;
	}
	.footer a:hover{
		color: #444;
	}
	.footer h5{
		text-align: center;
		margin: auto;
		font-size: 17px;
		width: 100%;
	}	
}