   @font-face {
    	font-family: brandon-grotesque; 
    	src: url(../fonts/brandon_med_it.otf);
   }
   @font-face {
    	font-family: adobe-garamond-pro; 
    	src: url(../fonts/AGaramondPro-Regular.otf);
   }





  