*{
	margin: 0; padding: 0;
	font-family: Roboto-Condensed, sans-serif;
}
body{
	background: url("../images/background2.jpg") no-repeat fixed;
	background-size: cover;
}
/*======================= Навигационная панель ===========================*/
	.naw_bar{
		width: 1200px;
		margin: auto;
	}
	.naw_bar ul li{
		display: inline-block;
		text-align: center;
		padding: 65px 0 0 60px;
		font-weight: bolder;
		font-size: 26px;
	}

	.naw_bar ul li a{
		display: block;
		height: 30px;
		padding-bottom: 10px;
		text-decoration: none;
		color: #fff;
		border-bottom: 4px solid rgba(1, 1, 1, 0);
	}
	.naw_bar ul li a:hover{
		border-color: #fff;
	}
	.naw_bar a img{
		float: left;
		width: 174px; height: 174px;
		margin-left: 10%; 
	}
/*======================= Фон Фудера сайта  ==============================*/
	.header_page{
		width: 100%;
		height: 800px;
		background-image:url("../images/home.jpg");
		background-size: cover;
	}
/*======================= Нижний трехугольник в хедлере сайта ============*/
	.bottom_triangle{
		position: absolute;
		top: 700px;
		left: 0;
		width: 100%;
	}
	#left_trapeze{
		position: absolute;
		top:0;
		left:0;
		border-bottom: 100px solid #fff;
		border-left: 0px solid transparent;
		border-right: 80px solid transparent;
		height: 0;
		width: 48%;
	}
	#right_trapeze{
		position: absolute;
		top:0;
		right:0;
		border-bottom: 100px solid #fff;
		border-left: 80px solid transparent;
		border-right: 0px solid transparent;
		height: 0;
		width: 48%;
	}
/*======================= Что предлагает наше агенство ===================*/
	section.who_we_are{
		background-color: #fff;
	}
	.container_about{
		width: 1200px;
		margin: auto;
		text-align: center;
	}
	.container_about ul{
		width: 100%;
	}
	.container_about ul li{
		display: inline-block;
		padding: 0 10px;
	}
	.container_about ul li img{
		width: 200px;
	}
	.container_about ul{
		padding: 50px 0;
	}
	.container_about ul a{
		text-decoration: none;
		font-weight: bold;
		color: #333;
		text-align: center;
	}
	.container_about h1{
		font-size: 21px;
		padding: 20px 0;
		color: #333;
	}
	.container_about p{
		padding: 20px 0;
		color: #333;
		font-size: 18px;
		line-height: 30px;
	}
/*======================= Проблема с которой сталкивается каждая =========*/
	section.article_problem{
		background-color: #EEF2F3; 
		text-align: center;
		width: 100%;
	}
	.article_about_problem{
		width: 1200px;
		margin: auto;
	}
	.article_about_problem h1{
		text-transform: uppercase;
		font-size: 21px;
		padding-top: 120px;
		color: #333;
	}
	.article_about_problem  p{
		padding: 20px 0;
		color: #333;
		text-align: justify;
		font-size: 18px;
		line-height: 30px;
	}

	.article_about_problem h2{
		text-transform: uppercase;
		font-size: 19px;
		padding-top: 30px;
		color: #333;
	}
	.article_about_problem a{
		display:inline-block;
		width: 350px;
		margin: auto;
		margin-top: 50px;
		margin-bottom: 60px;
		background-color: #33B294;
		border-radius: 40px;
	}
	.article_about_problem a:hover{
		background: #4CCCAE;
	}
	.article_about_problem a p{
		float: left;
		padding: 10px 10px 10px 15px;
		color: #fff;
		font-style: italic;
	}
	.article_about_problem a img{
		float: left;
		width: 35px;
		margin: 12px 0 0 10px;
	}
/*======================= Отзывы невест ==================================*/
	section.reviews_bg{
		background-color: rgba(172, 32, 44, 0.7);
	}
	div.reviews{
		width: 1200px;
		margin: auto;
		padding-bottom: 70px;
		text-align: center;
		color: #fff;
	}
	div.reviews h1{
		text-transform: uppercase;
		font-size: 21px;
		padding-top: 70px;
	}
	div.reviews h3{
		padding: 15px 0 30px;
		text-align: center;
		font-style: italic;
		font-size: 17px;
	}
	div.reviews p{
		padding: 15px 0 10px;
		font-size: 18px;
		line-height: 30px;

	}
	div.reviws-item{
		width: 900px;
		margin: auto;
		opacity: inherit;
		padding: 2% 0 2% 5%;
		text-align: justify;
		margin-top: 30px;
		border: 1px solid #fff;
	}
	div.reviws-item:hover{
		background-color: rgba(255, 255, 255, 0.2);
	}
	div.reviws-item p{
		display: block;
		width: 800px;

	}
	div.reviws-item img.revives-img-two{
		width: 10px;
		margin: 1px 0 -5px 14px;
	}
	div.reviws-item img.revives-img-one {
		float: left;
		padding: 18px 10px 0px 0;
		width: 25px;
	}
	div.reviws-item h3{
		width: 90%;
		padding: 0;
		padding-right: 50px;
		text-align: right;
	}
/*======================= 5 причин =======================================*/
	section.about_reasons{
		background-color: #fff;
		text-align: justify;
		color: #333;
	}
	div.five_reasons{
		width: 1200px;
		margin: auto;
		padding-bottom: 70px; 
	}
	div.five_reasons h1{
		text-transform: uppercase;
		text-align: center;
		font-size: 21px;
		padding-top: 120px;
	}
	div.five_reasons h3{
		padding: 30px 0;
		text-align: center;
		font-style: italic;
		font-size: 17px;
	}
	div.five_reasons h2{
		padding: 40px 0 10px 0;
	}
/*======================= карусель  ========== ===========================*/
	section.carousel{
		background-color: #DD7674; 
		color: #fff;
		padding-bottom: 50px;
	}
	section.carousel h1{
		text-transform: uppercase;
		text-align: center;
		font-size: 21px;
		padding-top: 120px;
	}
	section.carousel h3{
		padding: 30px 0;
		text-align: center;
		font-style: italic;
		font-size: 17px;
	}
	.container_carousel{
		width: 100%;
		padding-bottom: 120px;
		text-align: center;
		background-color: #DD7674;
	}
	.img_photo{
		width: 240px;
		height: 245px;
		margin:auto;
		padding-top: 100px;
	}

	.image_frame{
		position: relative;
		top: -264px;
		width: 240px;
		height: 245px;		
		margin: auto;
	}

	.carousel_item p{
		width: 60%;
		margin: auto;
		margin-top: -220px;
		color: #FBEDED;
		font-size: 30px;
		line-height: 40px;
	}
	.carousel_item p:before{
		position: relative;
		left: -6px;
		top:10px;
		content: "\201C";
		font-size: 50px;

	}
	.carousel_item p:after{
		position: relative;
		right: -6px;
		top:10px;
		content: "\201D";
		font-size: 50px;
	}
	.carousel_item h4{
		padding-top: 15px;
		color: #FBEDED;
		font-size: 21px;
		width: 60%;
		margin: auto;
		margin-top: 15px;
	}
	.carousel_item h4:before {
   		background-color: #fff;
    	display: block;
    	content: "";
    	height: 1px;
    	margin: 0px auto 24px;
    	width: 8.47039%;
	}
	div.carousel_item h5{
		padding: 40px 0 0 0;
		font-size: 25px;
	}
/*======================= Зарегистрируйтесь сейчас =======================*/
	section.invite_bg{
		background:rgba(0, 0, 0, 0.7);
	}
	div.invite{
		width: 1200px;
		margin: auto;
		padding-bottom: 40px;
		text-align: center;
		color: #fff;
	}
	div.invite h1{
		text-transform: uppercase;
		font-size: 21px;
		padding-top: 120px;
	}
	div.invite a{
		display: block;
		margin: 40px auto 0;
		width: 200px;
		padding: 20px 20px;

		border: 1px solid #fff;
		border-radius:40px;
		text-decoration: none;
		font-size: 21px;
		color: #fff;
	}
	div.invite a:hover{
		background-color: rgba(255, 255, 255, 0.3);
	}
/*======================= Контиакты  =====================================*/
	section.contacts{
		overflow: hidden;
		height: 590px;
		background: linear-gradient(to left, #fff 60%,#33B294 40%);
	}
	div.contacts_container{
		width: 1200px;
		margin: auto;
	}
	div.form_mesage {
		float: left;
		width: 40%;
		height: 590px;
		background-color: #33B294; 
		color: #fff;
		text-align: center;
		padding-bottom: 50px;
	}
	div.form_mesage h1{
		padding: 30px 0;
	}
	div.form_mesage input{
		font-size: 22px;
		height: 25px;
		width: 70%;
		margin: auto;
		margin: 10px 0;
	}

	div.form_mesage textarea{
		height: 200px;
		width: 70%;
		resize: none;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;  
		font-size: 22px;
	}
	div.form_mesage a{
		display: block;
		width: 100px;
		margin: auto;
		padding: 10px 20px;
		border: 1px solid #fff;
		text-align: center; 
		text-decoration: none;
		color: #fff;
		border-radius: 40px;

	}
	div.form_mesage a:hover{
		color: #333;
		background-color:#D6F0EA;
		text-align: center;
	}
	div.our_news{
		float: left;
		width: 40%;
		color: #333;
		padding: 30px 0 0 0;
	}
	div.our_news h3{
		text-align: center;
	}
	div.our_news h1{
		text-align: center;
		margin: 20px 0;
	}
	div.our_news img{
		display: block;
		width: 80%;
		margin: auto;
		padding: 15px 0;
	}
	div.our_news p{
		display: block;
		width: 80%;
		margin: auto;
		text-align: justify;
	}
	a#read_more{
		display: block;
		width: 100%;
		text-align: center;
	}
	a#other_news{
		display: block;
		width: 100%;
		text-align: center;
		margin: 30px 0 0 0;
		font-size: 23px;
		color: #333;
	}
	div.social_networks{
		text-align: center;
		padding: 30px 0 0 0;
	}
	div.social_networks a{
		color: #333;
	}
/*======================= Footer =========================================*/
	section.site_footer{
		overflow: hidden;
		background-color: #EEF2F3;
	}
	div.footer_elem{
		position: relative;
		width: 900px;
		margin: auto;
	}
	div.footer_links_panel{
		width: 70%;
		height: 20px;
		margin: 20px 0;
	}
	div.footer_links_panel a{
		float: left;
		color: #333;
		padding: 4px 10px 5px;
		border-right: 1px solid #333;
	}
	div.footer_links_panel a:nth-child(4){
		border-right: none;
	}
	div.footer_links_panel a:hover{
		color: #666;
		text-decoration: none;
	}
	div#button_up{
		position: absolute;
		top:-30px;
		left: 90%;
		width: 110px;
		height: 114px;
		cursor: pointer;
		background-color: #dee2e3;
	}
	div#button_up:hover{
		background-color: #999;
	}
	div#button_up img{
		display: block;
		padding: 25px 18px 18px;
		height: 40px;
		width: 70px;
	}
	div.last_sentences{
		clear: both;
		text-align: center;
	}