*{
	margin: 0;
	padding: 0;
	transition: all .2s;
	font-family:$fonts-family;
}
h1{
	font-size: $font-size-xlar;
}
li{
	list-style:none;
}
a{
	text-decoration: none;
}
body{
	background: url("../images/background2.jpg") no-repeat fixed;
	background-size: cover;
	background-position: right; 
}