@media (min-width: 481px) and (max-width: 900px) {
/*========================= стандарные ==============================*/
	*{
		padding: 0;
		margin: 0;
	}
	body{
		font: 300 16px/24px 'Roboto', sans-serif;
		color: #000;
	}
	div.container{
		overflow: hidden;
		width: 90%;
		margin: auto;
		padding: 20px 0 20px 0;
	}
	div.conteiner-white{
		height: 100%;
		width: 100%;
		background-color: #fff !important;
	}
	div.container-pink{
		height: 100%;
		width: 100%;
		background-color: #d82132;
	}
	div.box-head{
		width: 100%;
		line-height:200%;
		padding: 10px 0 30px 0;
		text-align: center;
	}
/*========================= о нас ===================================*/
	div.item_about_us{
		padding: 0 10px 20px 10px;
		text-align: justify;
	}
	div.item_about_us h2{
		padding-bottom: 15px;
		text-align: left;
	}
/*========================= офис в Киеве ============================*/
	div.container-pink div.box-head h1{
		color:#fff;
	}
	div.container-pink div.container h3{
		color: #fff;
		font-weight: normal;
	}
	div.contacts_kiev h4{
		color: #fff;
	}
	div.contacts_kiev{
		margin: 30px 0 20px 10px;
	}
	div.contacts_kiev a{
		color:#fff;
	}
/*========================= офис в Японии ===========================*/
	div.j-contact{
		width: 100%;
		text-align: center;
	}
	div.j-contact img{
		margin: 40px 0 0 0;
		width: 100%;
	}
	img#j-img{
		float: left;
		width: 100%;
	}
/*========================= карта ===================================*/
	#map_canvas{
		clear:both;
		margin-bottom: 40px;
		width: 100%;
	}
	iframe{
		margin: 37px 0 10px 0;
	}
/*========================= контактная форма ========================*/
	input.input_cust_data{
		display: block;
		width: 82%; height: 30px;
		font-size: 25px;
		margin: auto;
		margin-bottom: 10px;
		color:#000;
	}
	textarea#area_masage{
		display: block;
		resize: none;
		font-size: 19px;
		width: 82%; height: 200px;
		margin: auto;
	}
	a#btn_submit{
		display: block;
		margin: auto;
		margin-top: 30px;
		text-align: center;
		border: 1px solid #fff;
		border-radius:20px;
		color:#fff;
		padding-top: 9px;
		height:30px; width:200px;
		background-color:#d82132;
		font-weight:bold;
		text-decoration: none;
		text-transform:uppercase;
	}
	a#btn_submit:hover{
		background-color: #bd1d2c;
		color: #444;
	}
}