.temp{
	height: 700px;
	width: 100%;
	background-color: #444;
}

*{
	margin: 0;
	padding: 0;
}
body{
	font: 300 16px/24px 'Roboto', sans-serif;
	color: #000;
}
div.container{
	overflow: hidden;
	height: 100%;
	width: 70%;
	padding-bottom: 5%;
	margin: auto;
}
div.conteiner-white{
	height: 100%;
	width: 100%;
	background-color: #fff !important;
}
div.container-pink{
	height: 100%;
	width: 100%;
	background-color: #d82132;
}
div.box-head{
	width: 100%;
	height: auto;
	line-height:200%;
	padding-top: 5%;
	margin-bottom: 5%;
	text-align: left;
}
div.navbar{
	background-color:#d82132;
	height: 78px;
	width: 100%;
	}
ul.nav-bar-f-item{
	float: left;
	display: inline-block;
	border-radius: 0 40px 40px 0;
	list-style: none;
	height: 78px;
	width: 30%;
	padding-left: 15%;
	background-color:#bd1d2c;
}
li.first-nv{
	margin-left: 1%;
}
li.first-nv img{
	float: left;
	margin-top: 16px;
	width: 34px;
}
li.first-nv a{
	float: left;
	width: auto;
	text-align: center;
	padding: 25px 0 0 10px;
	font-size: 19px;
	text-decoration: none;
	color: #fff;
}
li.first-nv a:hover{
	color:#444;
}
ul.nav-bar-s-item{
	width: 50%;
	float: left;
	padding-top: 28px;
}
div.navbar ul li.nav-item{
	display: inline-block;
	margin-left: 8%;
}
div.navbar ul li.nav-item a{
	display: block;
	text-decoration: none;
	color:#fff;
}
div.navbar ul li.nav-item a:hover{
	color: #444;
}
.fixed {
	 margin-top:0px;
	 position: fixed !important;
	 top: 0px; 
	 z-index: 9999; 
	 height:78px;
	 width:100%;
	 background-color:#bd1d2c !important;
	 font: 300 16px/24px "Roboto", sans-serif;
}
/*======================== ABOUT US======================*/

div.item_about_us{
	padding-bottom: 20px;
}
div.item_about_us h2{
	padding-bottom: 15px;
}

/*===================== Kiew office ==============*/
div.container-pink div.box-head h1{
	color:#fff;
}
div.container-pink div.box-head h3{
	color: #fff;
	font-style: italic;
	font-weight: normal;
}
div.contacts_kiev h4{
	color: #fff;
}
div.contacts_kiev{
	margin: 30px 0 20px 10px;
}
div.contacts_kiev a{
	color:#fff;
}
div.j-contact{
	float: left;
	width: 60%;
}
div.j-contact h4{
	padding-top: 5%;
}
div.j-contact img{
	width: 90%;
	margin: 10% 0 0 18%;
}
#j-img{
	float: left;
	width: 25%;
	margin: 3% 0 0 10%;
}
iframe{
	clear:both;
	background: #444;
	margin: 6% 0 10% 10%;
	height: 400px;
	width: 800px;
	color: rgba(189, 29, 44, 0.6);
}
/*-------------*/
input.input_cust_data{
	border-radius: 10px;
	float: left;
	width: 25%;
	margin-right: 5%;
}
textarea#area_masage{
	border-radius: 10px;
	clear: both;
	margin-top: 3%;
	width: 86%;
	height: 170px;
}
button#btn_submit{
	border-radius: 10px;
	margin-top: 3%;
	clear: both;
	width: 20%;
	height: 27px;
}
/*--------------------*/
.footer{
	position: static;
	clear: both;
	height: auto;
	width: 100%;
	background-color: #d82132;
	text-align: center;
	color: #fff;
}
.footer a {
	width: 30%;
	margin: auto;
	text-decoration: none;
	color: #fff;
}
.footer a:hover{
	color: #444;
}
.footer h5{
	text-align: center;
	margin: auto;
	width: 30%;
}


