@media (min-width: 481px) and (max-width: 900px) {
/*========================= стандарные ==============================*/
	*{
		padding: 0;
		margin: 0;
	}
	body{
		font: 300 16px/24px 'Roboto', sans-serif;
		color: #000;
	}
	.container{
		width: 80%;
		margin: auto;
		padding: 20px 0 20px 0;
	}
	.container-pink{
		background-color: #d82132;
		color: #fff;
		width: 100%;
	}
	.container-white{
		background-color: #fff;
		width: 100%;
	}
	div.box-head{
		width: 100%;
		line-height:200%;
		padding: 10px 0 30px 0;
		text-transform: uppercase;
		text-align: center;
	}
/*========================= нав-панель ==============================*/
	div.navbar{
		background-color:#d82132;
		height: 153px;
		width: 100%;
	}
	ul.naw-bar-items{
		list-style: none;
	}
	ul.naw-bar-items a{
		color:#fff;
		text-decoration: none;
	}
	ul.naw-bar-items a:hover{
		color: #444;
	}
	ul.nav-bar-tm{
		list-style: none;
		width: 100%;
		text-align: center;
		padding: 10px 0 10px;
		background-color: #bd1d2c;
	}
	ul.nav-bar-tm li a{
		font-size: 20px;
	}
	ul.nav-bar-item-links{
		width: 100%;
	}
	ul.nav-bar-item-links li{
		float: left;
		width: 25%;
		list-style: none;
		padding: 10px 0 0 0;
		text-align: center;
	}
/*========================= контент =================================*/
	ul#list-of-services{
		list-style: url(../picture/logo-list.png);
		margin: 20px 0 20px 30px;
	}
	ul#list-of-services span{
		display: block;
		padding-bottom: 15px;
		margin-left: -20px;
		font-size: 22px;
	}
	h2{
		margin-left: 30px;
	}
	p{
		text-align: justify;
		padding-top: 20px;
	}
/*========================= футер ===================================*/
	.footer{
		position: relative;
		height: auto;
		width: 100%;
		padding-top: 15px;
		background-color: #d82132;
		text-align: center;
		color: #fff;
	}
	.footer a{
		display: block;
		text-decoration: none;
		font-size: 13px;
		color: #fff;
	}
	.footer a:hover{
		color: #444;
		text-decoration: underline;
	}
	.footer h5{
		display: block;
		font-size: 17px;
		width: 100%;
	}
}