@media (min-width: 481px) and (max-width: 900px) {
/*========================= стандарные ==============================*/
	*{
		padding: 0;
		margin: 0;
	}
	body{
		font: 300 16px/24px 'Roboto', sans-serif;
		color: #000;
	}
/*========================= контент =================================*/
	h1{
		width: 85%;
		margin: auto;
		text-align: center;
		line-height: 35px;
		padding: 20px 0 20px 0;
	}
	div.low-text{
		width: 90%;
		margin: auto;
		padding-bottom: 30px;
		text-align: justify;
	}
	div.low-text h3{
		display: block;
		width: 100%;
		border-bottom: 1px solid #451;
		line-height: 28px;
		padding: 1%;
	}
	div.low-text p{
		padding: 1% 0 1% 0;
	}
}