@media (min-width: 900px){
/*========================= стандарные ==============================*/
	*{
		padding: 0;
		margin: 0;
	}
	body{
		font: 300 16px/24px 'Roboto', sans-serif;
		color: #000;
	}
	.container{
		width: 900px;
		margin: auto;
		padding: 20px 0 20px 0;
	}
/*========================= контент =================================*/
	h1{
		display: block;
		margin: auto;
		text-align: center;
		line-height: 35px;
		padding: 30px 0 30px 0;
	}
	div.low-text{
		width: 100%;
		margin: auto;
		padding: 10px 0 10px 0;
		text-align: justify;
	}
	div.low-text h3{
		display: block;
		width: 100%;
		margin: auto;
		border-bottom: 1px solid #451;
	}
}