@media (max-width: 480px) {
/*========================= стандарные ==============================*/
	*{
		padding: 0;
		margin: 0;
	}
	body{
		font: 300 16px/24px 'Roboto', sans-serif;
		color: #000;
	}
/*========================= контент =================================*/
	h1{
		width: 100%;
		line-height: 36px;
		margin: auto;
		padding: 20px 0 20px 0;
		text-align: center;
	}
	div.low-text{
		width: 85%;
		margin: auto;
		padding-bottom: 15%;
		text-align: justify;
	}
	div.low-text h3{
		border-bottom: 1px solid #451;
		line-height: 30px;
		text-align: center;
	}
	div.low-text p{
		padding: 1% 0 1% 0;
	}
}